
.nav-bar-div{
    width: 50vw;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: #2D3563;
    font-weight: bold;
}
#contact-button{
    height: fit-content;
    width: fit-content;
    padding: 10px;
    background-color: #9FBFB3;
    border-radius: 10px;
    border-style: none;
    font-weight: bold;
    box-shadow: 1px 1px 2px #2D3563;
}